# refactor file paths into bash variables
expoEnv=apps/expo/.env
dotenv_if_exists "$expoEnv"
watch_file "$expoEnv"

expoEnvLocal=apps/expo/.env.local
dotenv_if_exists "$expoEnvLocal"
watch_file "$expoEnvLocal"

expoEnvShell=apps/expo/.env.shell
dotenv_if_exists "$expoEnvShell"
watch_file "$expoEnvShell"

expoEnvShellLocal=apps/expo/.env.shell.local
dotenv_if_exists "$expoEnvShellLocal"
watch_file "$expoEnvShellLocal"