# refactor file paths into bash variables
expoEnv=apps/expo/.env
dotenv_if_exists "$expoEnv"
watch_file "$expoEnv"

expoEnvShell=apps/expo/.env.shell
dotenv_if_exists "$expoEnvShell"
watch_file "$expoEnvShell"